* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bkc-jumbo-section: #b4d0e7;
    --bkc-button-blu: #0061ff;
    --color-text-nav: #363636;
    --color-h2: #60072a;
    --bkc-light-green:#d1e9cd;
    --bkc-green:#a2d39b;
    --bkc-purple:#61082b;
    --bkc-sky-blue:#0093ce;
    --bkc-red:#ff1c1c;
    --bkc-light-gray:#f5f5f5;
    --bkc-strong-red:#d5001f;
    --bkc-light-blue:#b4d0e7;
    --bkc-blue:#0d2481;
    --bkc-yellow:#ffd830;
}



/* initial rules */

/* debug section */





/* end header debug */













/* fouth section debug */




/* end main debug */

footer {
    background-color: black;
}



/* font-family: 'Open Sans', sans-serif; */


/* common rules */

body {
    font-family: 'Open Sans', sans-serif;
}

.main_container {
    width: 70%;
    max-width: 1170px;
    margin: auto;
}

.border {
    border: 1px solid;
}

.main_container_small {
    width: 90%;
    max-width: 1170px;
    margin: auto;
}

.font_size30 {
    font-size: 30px;
}

.flex {
    display: flex;
}

.mgt150 {
    margin-top: 150px;
}

.pdb80 {
    padding-bottom: 80px;
}

.pd20 {
    padding: 20px;
}

.pd30 {
    padding: 30px;
}

.pd60 {
    padding: 60px 0;
}

.pd10 {
    padding: 10px;
}

.pd40 {
    padding: 40px 0;
}

.pdt30 {
    padding-top: 30px;
}

.pd100 {
    padding: 100px 0;
}

.pdl20 {
    padding-left: 20px;
}

.pdb18 {
    padding-bottom: 18px;
}

.pdt60 {
    padding-top: 60px;
}

.pdr20 {
    padding-right: 20px;
}

.pdb40 {
    padding-bottom: 40px;
}

.pdb20 {
    padding-bottom: 20px;
}

.pdb80 {
    padding-bottom: 80px;
}


.pdb15 {
    padding-bottom: 15px;
}
.pdb5 {
    padding-bottom: 5px;
}

.pdl5 {
    padding-left: 5px;
}


.pdr5 {
    padding-right: 5px;
}

.tx_center {
    text-align: center;
}

.space_between {
    justify-content: space-between;
}

.align_start {
    align-items: start;
}

.align_center {
    align-items: center;
}

.justy_end {
    justify-content: end;
}

.wrap {
    flex-wrap: wrap;
}

.justy_center {
    justify-content: center;
}


.margin_bottom_20 {
    margin-bottom: 20px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.margin_top_bottom_20 {
    margin: 20px 0;
}

.wth100 {
    width: 100%;
}


/* header */

nav {
    width: 100%;
    top: 0;
    background-color: white;
    position: fixed;
    font-size: 15px;
}

.row_header {
    width: calc(100% / 2);
    align-items: center;
    height: 60px;
}

.card_header_left > img {
    padding-left: 15px;
}

.sx, .sx > a {
    margin-left: 20px;  
    color: var(--color-text-nav);
}

.link_blu {
    color: var(--bkc-button-blu);
}


.dx, .dx > a {
    margin-right: 15px;
    color: var(--color-text-nav);
}


.container_links_header > a {
    text-decoration: none; 
}

.card_header_right {
    width: 100%;
}

.button_header {
    background-color: var(--bkc-button-blu);
    color: white;
    padding: 5px;
    text-decoration: none;
}

.fixed_height {
    height: 300px;
}

/* main */

/* first section */

.bkc {
    background-color: var(--bkc-jumbo-section);
}

h1 {
    padding-left: 20px;
    font-family: 'Open Sans', sans-serif;
    max-width: 80%;
    font-size: 60px;
    padding-bottom: 20px;
    padding-top: 30px;
}

.h2_color {
    color: var(--color-h2);
}



.small_main_col {
    width: 30%;
}

.bottone_prova_gratuita {
    background-color: var(--bkc-button-blu);
    color: white;
    padding: 15px;
    border: none;
    margin: 20px 0;
    font-size: 15px;
}

.no_border_button {
    padding: 10px 25px;
    color: gray;
    background-color: white;
    border: none;
    font-size: 15px;
    margin-top: 10px;
}

.big_main_col {
    width: 70%;
}

.big_main_col > img {
    object-fit: cover;
    width: 100%;
}

/* second section */

h2 {
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

h5 {
    font-size: 15px;
}

.radio_button_main {
    padding-top: 25px;
}

.scale_2 {
    transform: scale(1.5);
    margin: 0 5px;
}

.fatturazione_mensile {
    margin-right: 40px;
}


.row_main {
    padding: 20px;
}

.cards_second_section, .cards_third_section {
    width: calc(100% / 3 - 30px);
    padding-bottom: 40px;
}

.border_item {
    padding: 10px;
    border-bottom: 1px solid;
    width: 100%;
}

.cards_container {
    width: 90%;
    max-width: 1170px;
    margin: auto;
    height: 100%;
}

.margin_mese {
    margin-top: 10px;
    margin-bottom: 50px;
}

.paddin_before_buttons {
    padding-bottom: 40px;
}

.riga {
    background-color: black;
    height: 1px;
    width: 100px;
    margin-top: 30px;
    margin-bottom: 50px;
}


.container_team {
    margin: auto;
    width: calc(100% - 40px);
}

.team_card  {
    padding: 10px;
    border-bottom: 1px solid;
    width: 100%;
    text-align: center;
}

.height_100 {
    height: 100%;
}

.bottone_prova_gratuita_team {
    background-color: var(--bkc-button-blu);
    color: white;
    padding: 15px;
    border: none;
    font-size: 15px;
    margin-left: 20px;
}

/* third section */

.big_main_col_partner {
    width: 60%;
}

.small_main_col_partner {
    width: 40%;
}


.partner_png {
    max-height: 500px;
    max-width: 500px;
}

.trova_un_partner_button {
    padding: 10px;
    border: 1px solid black;
    background-color: white;
    font-size: 15px;
}

/* fourth section */

.cards_fourth_section {
    margin-top: 10px;
    padding: 20px;
}

.cards_fourth_section > img {
    max-width: 100%;
}

.fourth_section_column, .cards_fourth_section {
    width: calc(100% / 3);
}

.logo_container {
    width: calc(100% / 2);
}

.square > img, .square {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    padding: 20px;
}

.light_green {
    background-color: var(--bkc-light-green);
}

.green {
    background-color: var(--bkc-green);
}

.purple {
    background-color: var(--bkc-purple);
}

.sky {
    background-color: var(--bkc-sky-blue);
}

.red {
    background-color: var(--bkc-red);
}

.light_gray {
    background-color: var(--bkc-light-gray);
}

.red_strong {
    background-color: var(--bkc-strong-red);
}

.light_blue {
    background-color: var(--bkc-light-blue);
}

.blue {
    background-color: var(--bkc-blue);
}

.yellow {
    background-color: yellow;
}


/* footer */

footer, .white {
    color: white;
}

.footer_container {
    width: 90%;
    max-width: 1170px;
    margin: auto;
}

.col_footer {
    width: calc(100% / 5 - 30px);
}

.pdb15 > a {
    text-decoration: none;
    color: white;
}

.riga_footer {
    background-color: white;
    height: 1px;
    width: 100px;
    margin-top: 30px;
    margin-bottom: 50px;
}

